/* Defaults */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: "JetBrains Mono", Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, monospace;
}

/* Theme colors */
:root {
    --btr-orange: #fb9c1f;
	--btr-red: #e53636;
	--btr-purple: #bd206e;
	--btr-green: #02b353;
	--btr-cyan: #01a0ac;
	--btr-blue: #008fc9;

	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;
	--background-color-secondary: #f6f6f6;
	--separator-color: var(--color-gray-50);

	--text-color: #000;
	--text-color-faded: #64748b;
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--primary: var(--btr-blue);
	--secondary: var(--btr-cyan);
	--accent: var(--btr-orange);
	--accent-gradient: linear-gradient(125deg, var(--btr-blue) 0%, var(--btr-cyan) 33%, var(--btr-green) 66%, var(--btr-orange) 100%);

	--accent-gradient-infinite: linear-gradient(125deg,
												var(--btr-blue),
												var(--btr-cyan),
												var(--btr-green),
												var(--btr-orange),
												var(--btr-purple),
												var(--btr-cyan),
												var(--btr-blue),
												var(--btr-green)
);

	--large-dropshadow: 0 10px 30px rgba(0, 0, 0, 0.3);

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #494949;

		--background-color: #151515;
		--background-color-secondary: #0a1505;
		--separator-color: var(--color-gray-90);

		/* --text-color is assigned to --color-gray-_ above */
	    --text-color: #fff;
	    --text-color-faded: var(--color-gray-50);
		--text-color-link: var(--text-color);
		--text-color-link-active: #6969f7;
		--text-color-link-visited: var(--color-gray-50);

		--large-dropshadow: 0 10px 30px rgba(255, 255, 255, 0.1);
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	font-family: var(--default-font);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-monospace);
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

/* Keep long URLs in footnotes from overflowing */
.footnotes a {
	overflow-wrap: anywhere;
	word-break: break-word;
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

footer {
	display: flex;
	justify-content: center;
	/*border-top: 1px dashed var(--color-gray-20);*/
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

@media screen and (min-width: 1536px) {
  :root {font-size: 110%;}
}

@media screen and (max-width: 768px) {
  :root {font-size: 90%;}
}

@media screen and (max-width: 384px) {
  :root {font-size: 70%;}
}

@media screen and (max-width: 250px) {
  :root {font-size: 50%;}
}
