main, header {
    border-bottom: 1px dashed var(--separator-color);
    margin-bottom: 1em;
}
/* Header */
header {
    display: flex;
    gap: 1em .5em;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}

header:after, main:after {
    content: "";
    display: table;
    clear: both;
}

.home-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    font-family: var(--font-family-monospace);
    font-size: 1.1em;
    font-weight: 700;
    margin-right: 2em;
}

.home-logo {
    height: 1.5em;
    width: auto;
}

.home-link:link:not(:hover) {
    text-decoration: none;
}

/* Nav */
.nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
    text-decoration: none;
}
.nav a[href][aria-current="page"] {
    text-decoration: underline;
}

/* Footer */
footer {
    padding: 0.5em 0 2.5em 0;
}
