.subscribe-form {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 500px;
    justify-content: center;
}

.subscribe-form input {
    flex-grow: 1;
    padding: 0.75rem 1rem;
    border: 1px solid var(--color-gray-20);
    background-color: white;
    color: black;
    font-family: var(--font-family-monospace);
    border-radius: 4px 0 0 4px;
}

.subscribe-form input::placeholder {
}

.subscribe-form input:focus {
    outline: none;
    border-color: var(--primary);
}

.subscribe-btn {
    background-color: var(--primary);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0 4px 4px 0;
    font-family: var(--font-family-monospace);
    font-weight: 600;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: var(--secondary); /* old browser compat */
    background: var(--accent-gradient-infinite);
    animation: shimmer 8s ease infinite;
    background-size: 800% 800%;
}

@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {

    .subscribe-form {
        flex-direction: column;
    }

    .subscribe-form input {
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    .subscribe-btn {
        border-radius: 4px;
        width: 100%;
    }
}
