<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "BtrBlocks - Better building blocks for the cloud" }}</title>

    {#- Add an arbitrary string to the bundle #}
    {%- css %}{% include "public/css/base.css" %}{% endcss %}
    {%- css %}{% include "public/css/home.css" %}{% endcss %}
    <style>{% getBundle "css" %}</style>
</head>
<body>
    {# The layout includes the header and the footer. Content itself is provided by whatever page uses this layout #}


    <header>
        <div class="container">
            <div class="logo">
                {%- from 'img/logo.svg' import logo %}
                {{ logo({ class: 'logo-img' }) }}
                BtrBlocks
            </div>
        </div>
    </header>

{{ content | safe }}


    <footer>
        <div class="container">
            <p>&copy; 2025 BtrBlocks. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
